<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midterm</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav>
        <a href="/">TONY'S TILES</a>
        <a href="/shop">SHOP</a>
        <a href="/404">ABOUT</a>
    </nav>

    <div class="index-holder">
        <h1>
            A heading with the text Welcome to Tony's Tiles! - Custom Creations & Digital Essentials!
        </h1>
        <p>
           Explore our collection of unique merchandise for tile shoppers, businesses, and everyday life. Whether you're looking for a tile, a cooler tile, or the coolest tile, we have something for you!
        </p>
        <h3> 
            Need an Invoice? We've Got You Covered!
        </h3>
        <p>
            For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!
        </p>
        <a href="/shop" class="btn-a">
            Browse, Buy & Download Instantly
        </a>
        
       
    </div>
   
 <script src="app/app.js"></script>
</body>
</html>