* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

nav {
    background-color: blue;
    height: 50px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

nav a {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    
}







.index-holder {
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;

}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}



.product-name, h1 {
    font-size: 20px;
    color: lightblue;
}

.product-price {
    font-size: 18px;
    color: #007BFF;
    margin-top: 10px;
}


button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}

input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#view-invoice {
    display: none;
}
/* 
#dl-invoice {
    display: none;
}

#invoice-pdf {
    width: 100%;
    height: 500px;
    margin-top: 20px;
} */


a.btn-a {
    display: inline-block;
    background-color: darkblue;
    color: white;
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    
}

/* .button {
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 300px;
    display: flex;

} */